<ion-pane>
  <ion-header-bar class="bar-stable">
    <h1 class="title">IMDb Killer</h1>
  </ion-header-bar>
  <ion-content ng-controller="selectMovieCtrl">
    <ion-item ng-click="getMovieTitle()">What movie would you like to watch?</ion-item>
    <ion-item ng-click="getDateString()">When would you like to watch it?</ion-item>
    <div class="bottom-of-page" ng-controller="buttons">
      <button class="button button-positive button-full" ng-click="submitButton()">Submit</button>
      <button class="button button-assertive button-full" ng-click="cancelButton()">Cancel</button>
    </div>
  </ion-content>
</ion-pane>
